{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1>Customer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Gender</th>
                <td>{{ customer.gender }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ customer.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ customer.postalCode }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ customer.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ customer.phone }}</td>
            </tr>
            <tr>
                <th>BithDate</th>
                <td>{{ customer.bithDate }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ customer.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_index') }}">back to list</a>

    <a href="{{ path('customer_edit', {'id': customer.id}) }}">edit</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
