{% extends 'base.html.twig' %}

{% block title %}Bike{% endblock %}

{% block body %}
    <h1>Bike</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bike.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ bike.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ bike.model }}</td>
            </tr>
            <tr>
                <th>Matriculation</th>
                <td>{{ bike.matriculation }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ bike.color }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ bike.power }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ bike.km }}</td>
            </tr>
            <tr>
                <th>ProductionYear</th>
                <td>{{ bike.productionYear ? bike.productionYear|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ bike.status }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ bike.createAt ? bike.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bike_index') }}">back to list</a>

    <a href="{{ path('bike_edit', {'id': bike.id}) }}">edit</a>

    {{ include('bike/_delete_form.html.twig') }}
{% endblock %}
