<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}"/>
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            {{ 'header.title.label'|trans }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('tag_index') }}">{{ 'header.menu.item.tag.label'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('bike_index') }}">{{ 'header.menu.item.bike.label'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('customer_index') }}">{{ 'header.menu.item.customer.label'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('bike_owner_index') }}">{{ 'header.menu.item.bike_owner.label'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('reservation_index') }}">{{ 'header.menu.item.reservation.label'|trans }}</a>
                </li>
            </ul>
        </div>
    </nav>


        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </body>
</html>

